<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="aircraft.css">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Aircraft-form</title>

  </head>
  <body>
  
  
		<script id="templateRow" type="text/template">
			<tr><td><%= model %></td><td><%= numberOfPlaces %></td><td><%= owner %></td></tr>
		</script>
  
<nav class="navbar">
				
	<ul>
	  <li><a a class="active" href="home.html">Home</a></li>
	 
	  <ul class="nav navbar-nav navbar-right">
		</ul>
	</ul>
  </nav>
		
	  <div class="content">
   
		<div class="text">Aircraft</div>
		<form action="#">
		
		<div class="field">
				<span class="fas fa-user"></span>
					<input type="text" name="aircraftId" id="aircraftId" value="" placeholder="aircraft ID" required>
		
			  </div>
			  
			<div class="field">
				<span class="fas fa-user"></span>
					<input type="text" name="model" id="model" value="" placeholder="Model" required>
		
			  </div>

		
		  <div class="field">
				<span class="fas fa-user"></span>
				<input type="text" name="owner" id="owner" value="" placeholder="Owner" required>
		  </div>
		  
		  
		   <div class="field">
					<span class="fas fa-user"></span>
					<input type="text" name="numberOfPlaces" id="numberOfPlaces" value="" placeholder="Number Of Places" required>
			
			  </div>
		  
		<button id="buttonEdit" class="signup">Modify the information</button>
		
		
		
		</form>
	</div>

	
	

	    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script type="text/javascript" src="aircraft.js"></script>
  </body>
  </html>

